.site-head {
  height: 150px;
  .topbar {
    height: 32px;
    line-height: 32px;
    background-color: #2a2a2a;
    color: white;
    .center-wrap {
      .shortcut-links {
        float: left;
        > ul {
          > li {
            float: left;
            margin-right: 18px;
            font-size: 14px;
            a {
              color: white;
            }
            &.have-menu {
              padding-right: 12px;
              position: relative;
              .arrow {
                position: absolute;
                width: 12px;
                height: 12px;
                top: 50%;
                margin-top: -6px;
                right: 0;
                transition: transform 0.2s ease 0s;
                // background-color: gold;
                b {
                  position: absolute;
                  left: 3px;
                  top: 2px;
                  width: 6px;
                  height: 6px;
                  background-color: white;
                  transform: rotate(45deg);
                }
                i {
                  position: absolute;
                  left: 3px;
                  top: 0.5px;
                  width: 6px;
                  height: 6px;
                  transform: rotate(45deg);
                  background-color: #2a2a2a;
                }
              }
              &:hover {
                .arrow {
                  transform: rotate(180deg);
                }
                .menu {
                  display: block;
                }
              }
              .menu {
                position: absolute;

                background-color: white;
                z-index: 9999;
                top: 30px;
                left: 0;
                padding: 10px;
                display: none;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                // padding-top: 10px;

                // .menu-inner {
                //   background-color: gold;
                //   height: 400px;
                // }
                .menu-list {
                  li {
                    height: 20px;
                    line-height: 20px;
                  }
                  a {
                    font-size: 12px;
                    color: #1c1f21;
                    &:hover {
                      color: gold;
                    }
                  }
                }
              }
              .sqmenu {
                width: 110px;
              }
              .scmenu {
                width: 80px;
              }
              .jdmsmenu {
                width: 80px;
              }
            }
          }
        }
      }

      .topbar-r {
        float: right;
        width: 225px;
        a,
        span {
          margin-right: 11px;
          font-size: 15px;
        }
        a:last-child {
          margin-right: 0;
        }
      }
    }
    a {
      color: white;
    }
  }

  .main-nav {
    height: 40px;
    background-color: #20bd9a;
    ul {
      > li {
        float: left;
        margin-right: 18px;
        &.have-menu {
          padding-right: 16px;
          position: relative;
          &::before {
            content: "";
            right: 0;
            top: 18px;
            // margin-top: -8px;
            position: absolute;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: white;
            border-bottom: none;
            transition: transform 0.4s ease 0s;
            // background-color: gold;
          }
          &:hover::before {
            transform: rotate(180deg);
          }
          &:hover {
            .menu {
              display: block;
            }
          }
          .menu {
            position: absolute;
            top: 35px;
            left: 0;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 10px;
            display: none;
            dl {
              dd {
                a {
                  color: #1c1f21;
                  line-height: 20px;
                  font-size: 12px;
                  &:hover {
                    color: orange;
                  }
                }
              }
            }
            // z-index: 9999;
          }
          .jjzyxmenu {
            width: 150px;
          }
          .gtymenu {
            width: 90px;
          }
          .ddwlmenu {
            width: 190px;
          }
          .sdlymenu {
            width: 160px;
          }
        }
        a {
          line-height: 40px;
          color: white;
          font-size: 16px;
        }
      }
    }
  }
  .header-con {
    height: 36px;
    padding: 21px 0;
    h1 {
      float: left;
      font-size: 24px;
      color: #20bd9a;
      font-weight: bold;
      line-height: 36px;
    }
    .soso-box {
      float: left;
      margin-left: 20px;
      width: 405px;
      padding-top: 2px;
      input {
        float: left;
        width: 361px;
        height: 28px;
        border: 1px solid #20bd9a;
        border-radius: 4px 0 0 4px;
        font-size: 14px;
        padding-left: 10px;
        outline: none;
      }
      .btn {
        float: left;
        width: 32px;
        height: 30px;
        background-color: #20bd9a;
        color: white;
        text-align: center;
        line-height: 30px;
        font-size: 18px;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
