.site-head {
  min-width: 1152px;
  height: 150px;
  .topbar {
    min-width: 1152px;
    height: 32px;
    line-height: 32px;
    background-color: #2a2a2a;
    color: white;
    .center-wrap {
      .shortcut-links {
        float: left;
        > ul {
          > li {
            float: left;
            margin-right: 18px;
            font-size: 14px;
            a {
              color: white;
            }
            &.have-menu {
              padding-right: 12px;
              position: relative;
              .arrow {
                position: absolute;
                width: 12px;
                height: 12px;
                top: 50%;
                margin-top: -6px;
                right: 0;
                transition: transform 0.2s ease 0s;
                // background-color: gold;
                b {
                  position: absolute;
                  left: 3px;
                  top: 2px;
                  width: 6px;
                  height: 6px;
                  background-color: white;
                  transform: rotate(45deg);
                }
                i {
                  position: absolute;
                  left: 3px;
                  top: 0.5px;
                  width: 6px;
                  height: 6px;
                  transform: rotate(45deg);
                  background-color: #2a2a2a;
                }
              }
              &:hover {
                .arrow {
                  transform: rotate(180deg);
                }
                .menu {
                  display: block;
                }
              }
              .menu {
                position: absolute;

                background-color: white;
                z-index: 9999;
                top: 30px;
                left: 0;
                padding: 10px;
                display: none;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                // padding-top: 10px;

                // .menu-inner {
                //   background-color: gold;
                //   height: 400px;
                // }
                .menu-list {
                  li {
                    height: 20px;
                    line-height: 20px;
                  }
                  a {
                    font-size: 12px;
                    color: #1c1f21;
                    &:hover {
                      color: gold;
                    }
                  }
                }
              }
              .sqmenu {
                width: 110px;
              }
              .scmenu {
                width: 80px;
              }
              .jdmsmenu {
                width: 80px;
              }
            }
          }
        }
      }

      .topbar-r {
        float: right;
        width: 225px;
        a,
        span {
          margin-right: 11px;
          font-size: 15px;
        }
        a:last-child {
          margin-right: 0;
        }
      }
    }
    a {
      color: white;
    }
  }

  .main-nav {
    height: 40px;
    background-color: #20bd9a;
    ul {
      > li {
        float: left;
        margin-right: 18px;
        &.have-menu {
          padding-right: 16px;
          position: relative;
          &::before {
            content: "";
            right: 0;
            top: 18px;
            // margin-top: -8px;
            position: absolute;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: white;
            border-bottom: none;
            transition: transform 0.4s ease 0s;
            // background-color: gold;
          }
          &:hover::before {
            transform: rotate(180deg);
          }
          &:hover {
            .menu {
              display: block;
            }
          }
          .menu {
            position: absolute;
            top: 35px;
            left: 0;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 10px;
            display: none;
            dl {
              dd {
                a {
                  color: #1c1f21;
                  line-height: 20px;
                  font-size: 12px;
                  &:hover {
                    color: orange;
                  }
                }
              }
            }
            // z-index: 9999;
          }
          .jjzyxmenu {
            width: 150px;
          }
          .gtymenu {
            width: 90px;
          }
          .ddwlmenu {
            width: 190px;
          }
          .sdlymenu {
            width: 160px;
          }
        }
        a {
          line-height: 40px;
          color: white;
          font-size: 16px;
        }
      }
    }
  }
  .header-con {
    height: 36px;
    padding: 21px 0;
    h1 {
      float: left;
      font-size: 24px;
      color: #20bd9a;
      font-weight: bold;
      line-height: 36px;
    }
    .soso-box {
      float: left;
      margin-left: 20px;
      width: 405px;
      padding-top: 2px;
      input {
        float: left;
        width: 361px;
        height: 28px;
        border: 1px solid #20bd9a;
        border-radius: 4px 0 0 4px;
        font-size: 14px;
        padding-left: 10px;
        outline: none;
      }
      .btn {
        float: left;
        width: 32px;
        height: 30px;
        background-color: #20bd9a;
        color: white;
        text-align: center;
        line-height: 30px;
        font-size: 18px;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.banner {
  position: relative;

  img {
    width: 100%;
    min-width: 1152px;
    // 图片可能和盒子底部产生缝隙,此时可以使用一个小技巧
    // 添加之后，就没有缝隙了
    vertical-align: middle;
  }
  .center-wrap {
    // 只要有压盖，第一时间就要想到绝对定位
    position: absolute;
    width: 1152px;
    left: 50%;
    top: 0;
    margin-left: -576px;
    // 这里的100%高度绝对不能省略，因为如果省略了，他的height就是0
    // 那么他的子盒子设置16.6%就没有意义了
    height: 100%;
    .leftbtn {
      position: absolute;
      width: 28px;
      height: 44px;
      top: 50%;
      left: -38px;
      margin-top: -22px;
      background: url(../images/icons.png) no-repeat -21px -94px;
      &:hover {
        opacity: 0.6;
      }
    }
    .rightbtn {
      position: absolute;
      width: 28px;
      height: 44px;
      top: 50%;
      right: -38px;
      margin-top: -22px;
      background: url(../images/icons.png) no-repeat -21px -29px;
      &:hover {
        opacity: 0.6;
      }
    }
    .banner-nav {
      width: 652px;
      height: 100%;
      position: relative;
      // background-color: orange;
      > ul {
        // 这里的100%高度也非常重要，因为如果省略了，他的height就是0
        // 那么他的子盒子设置16.6%就没有意义了
        height: 100%;
        > li {
          position: relative;
          height: 16.66%;
          width: 296px;
          background-color: rgba(0, 0, 0, 0.53);
          border-bottom: 1px solid #9e9e9e;
          box-sizing: border-box;
          &:last-child {
            border-bottom: none;
          }
          dl {
            position: absolute;
            height: 48px;
            top: 50%;
            left: 42px;
            margin-top: -24px;
            color: white;
            dt {
              font-size: 18px;
              line-height: 26px;
              height: 26px;
            }
            dd {
              font-size: 16px;
              line-height: 22px;
              height: 22px;
            }
          }
          &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons.png);
            top: 50%;
            left: 10px;
          }
          &.hot::before {
            width: 18px;
            height: 21px;
            background-position: -29px -399px;
            margin-top: -9px;
          }
          &.hk::before {
            width: 18px;
            height: 21px;
            background-position: -28px -217px;
            margin-top: -10.5px;
            left: 13px;
          }
          &.jp::before {
            width: 24px;
            height: 19px;
            background-position: -25px -171px;
            margin-top: -9.5px;
          }
          &.as::before {
            width: 18px;
            height: 19px;
            background-position: -28px -262px;
            margin-top: -9.5px;
            left: 12px;
          }
          &.eu::before {
            width: 20px;
            height: 14px;
            background-position: -29px -351px;
            margin-top: -7px;
            left: 11px;
          }
          &.au::before {
            width: 18px;
            height: 17px;
            background-position: -28px -305px;
            margin-top: -8.5px;
            left: 12px;
          }
          &.current {
            background-color: rgba(0, 0, 0, 0.63);
          }
        }
      }
      .menus-box {
        .menu {
          display: none;
          position: absolute;
          left: 296px;
          top: 0;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.63);
          color: white;
          padding: 16px;
          box-sizing: border-box;
          &.current {
            display: block;
          }
          a {
            color: white;
          }
          dl {
            margin-bottom: 12px;
            dt {
              line-height: 30px;
              font-size: 16px;
            }
            dd {
              line-height: 22px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.hot-ads {
  margin: 32px 0;
  ul {
    li {
      float: left;
      width: 264px;
      height: 110px;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.xxsw {
  padding-top: 40px;
  height: 698px;
  background-color: #f7f7f7;
  .hd {
    margin-bottom: 32px;
    h2 {
      float: left;
    }
  }
  ul {
    li {
      float: left;
      width: 264px;
      height: 270px;
      margin-right: 32px;
      background: white;
      margin-bottom: 32px;
      &:nth-child(4n) {
        margin-right: 0;
      }
      .wordbox {
        padding: 15px;
        color: #1c1f21;
        font-size: 14px;
      }
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.content-part h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1c1f21;
}
.content-part em {
  float: left;
  position: relative;
  top: 20px;
  left: 10px;
  color: #1c1f21;
}
.content-part {
  .hd {
    nav {
      float: right;
      width: 546px;
      ul {
        padding-top: 16px;
        li {
          float: left;
          margin-right: 16px;
          font-size: 14px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: rgba(0, 0, 0, 0.85);
          }
          &.current {
            border-bottom: 4px solid #20bd9a;
            padding-bottom: 4px;
            a {
              color: #20bd9a;
            }
          }
        }
      }
    }
  }
}
.content-part .more-grid {
  position: relative;
  width: 264px;
  height: 270px;
  background-image: linear-gradient(180deg, #34e3bc 0%, #15af7a 98%);
  padding-top: 46px;
  box-sizing: border-box;
  p {
    text-align: center;
    color: white;
    line-height: 24px;
    font-size: 15px;
  }
  .iconfont {
    position: absolute;
    font-size: 48px;
    color: white;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 118px;
    margin-left: -24px;
  }
  ul {
    margin-top: 112px;
    padding-left: 42px;
    li {
      float: left;
      border-right: 1px solid white;
      color: white;
      padding: 0 6px;
      height: 16px;
      line-height: 16px;
      font-size: 15px;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.jjzyx {
  height: 698px;
  padding-top: 40px;
  .hd {
    h2 {
      float: left;
    }
  }
  .bd {
    padding-top: 32px;
    > ul {
      > li {
        float: left;
        margin-right: 32px;
        margin-bottom: 32px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        .tag {
          position: absolute;
          width: 74px;
          height: 40px;
          color: white;
          background-color: rgba(0, 0, 0, 0.55);
          bottom: 103px;
          left: 0;
          text-align: center;
          line-height: 40px;
          /* 图片一触碰，就会有transform变形，那么此时会神奇的盖住tag，所以为了防止盖住，我们应该设置z-index属性值 */
          z-index: 9999;
        }
        &.big-grid {
          position: relative;
          width: 560px;
          height: 270px;
          background-color: #eee;
          .info {
            position: absolute;
            width: 560px;
            height: 103px;
            color: white;
            background-color: rgba(0, 0, 0, 0.55);
            bottom: 0;
            left: 0;
            padding: 30px 26px;
            box-sizing: border-box;
            line-height: 26px;
          }
        }
        &.pro-grid {
          width: 264px;
          height: 270px;
          // background-color: rgb(45, 15, 216);
          .picbox {
            position: relative;
            height: 184px;
            .tag {
              bottom: 0;
            }
          }
          .wordbox {
            padding: 14px;
            font-size: 14px;
            color: #1c1f21;
            line-height: 26px;
          }
        }

        &:nth-child(3),
        &:nth-child(7) {
          margin-right: 0;
        }
        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.ddwl {
  padding-top: 40px;
  height: 546px;
  background-color: #f7f7f7;
  .hd {
    h2 {
      float: left;
    }
    nav {
      width: 349px;
    }
  }
  .bd {
    padding-top: 32px;
    .col {
      float: left;
      width: 364px;
      height: 480px;
      // background-color: orange;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      .bigpicbox {
        position: relative;
        width: 364px;
        height: 270px;
        margin-bottom: 30px;
        .info {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 364px;
          height: 104px;
          background-color: rgba(0, 0, 0, 0.53);
          padding: 21px 17px 0;
          box-sizing: border-box;
          color: white;
          font-size: 14px;
          .bottom {
            padding-top: 6px;
            .tag {
              float: left;
            }
            .price {
              float: right;
              strong {
                color: #36dfba;
              }
            }
          }
        }
      }
      .grid {
        width: 364px;
        height: 120px;
        margin-bottom: 30px;
        // background-color: red;
        .picbox {
          width: 120px;
          height: 120px;
          float: left;
        }
        .wordbox {
          float: left;
          width: 244px;
          height: 120px;
          padding: 26px 18px 0;
          box-sizing: border-box;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          font-size: 14px;
          color: #000;
        }
      }
      .more-grid {
        width: 364px;
        background-image: linear-gradient(180deg, #ff6374 1%, #ff7368 98%);
        ul {
          padding-left: 19px;
        }
      }
      .grid:hover,
      .bigpicbox:hover,
      .more-grid:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}
